
*{
    background-color:#ffcccc;
}

h1{
  font-family: 'Taviraj', serif;
  color: blue;
}


/* div {
  width: 50%

} */

.next {
align-self: center;
font-family: 'Taviraj', serif;
  background: #99ffcc;
  color: blue;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  /* box-shadow: 1px 1px #aqua; */

}

.previous {
align-self: center;
font-family: 'Taviraj', serif;
  background: #99ffcc;
  color: blue;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
/*   box-shadow: 1px 1px #orange */

/* .next {
align-self: center;
font-family: 'Taviraj', serif;
  background: #99ffcc;
  color: blue;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #aqua;


  .flex-container {
    display: flex;
    background-color: ;
    justify-content: flex-end;


  }


form{

  color: red;
}

} */

div class {

  font-size: 50 em;
  font-color: blue; */
}
/* <------------carousel---------------------------> */

/* .carousel-container {
  width: 70%;
    display: flex;
    justify-content: space-around;

} */
/*

.previous {
align-self: center;
font-family: 'Taviraj', serif;
  background: #99ffcc;
  color: blue;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
box-shadow: 1px 1px #orange

}

.next {
align-self: center;
font-family: 'Taviraj', serif;
  background: #99ffcc;
  color: blue;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #aqua;

}
.carousel-synonyms {
  width: 80%;
    background: #99ffcc;
    color:#000033;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px #white;

}

.button-words {
  display: none;

}





--------added from online source------
nav ul {
 display: flex;
 justify-content: space-between;
}
nav li {
 flex: auto ;
}
 */
